.home-main-content span{
    font-size: 20px;
    font-weight: 600;
    margin-top: 17px;
    margin-bottom: 15px;
    color:#2500f9;
}

.home-main-content .social ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.home-main-content .social ul li {
    display: inline-block;
    margin-right: 5px;
}

.home-main-content .social ul li a {
    background-color: #f3f3f3 !important;
    color: #7d7979 !important;
}

.home-main-content .social ul li a {
    color: #e2e2e2;
    background: #0c0c0c;
    width: 35px;
    height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    line-height: 35px;
}

.home-main-content .social ul li a:hover {
    background-color: #2500f9 !important;
    color:#fff !important;
}

.service{
    background-color: #F9F9F9;
    padding: 25px;
    border-radius: 7px;
    transition: all .5s ease;
}

.icon{
    margin-bottom: 15px;
}

.icon i{
    font-size: 20px;
    color:#2500f9;
    line-height: 1;
}

.icon i::before{
    font-size: 45px;
}

.bar{
    position: relative;
    z-index: 1;
    width: 55px;
    height: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2500f9;
}

.bar::before, 
.bar::after {
    background: #ffffff;
}

.bar::before {
    right: 15px;
}

.bar::after {
    left: 15px;
}

.bar::before, 
.bar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    background: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.service:hover{
    transform: translateY(-20px);
}

.padding-50{
    padding: 50px;
}

.main-about-content {
    position: relative;
    padding-left: 80px;
}

.main-about-content i{
    font-size: 35px;
    position: absolute;
    left: 0;
    top: -5px;
    border: 1px solid #ececec;
    width: 60px;
    color: #2500f9;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
}

.main-about-content i::before{
    font-size: 35px;
}

.bar-content {
    width: 50px;
    height: 1px;
    background-color: #ececec;
    margin-top: 15px;
    margin-bottom: 15px;
}

.experience-list ul {
    padding-left: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 0;
    margin-top: -20px;
}

.experience-list ul li {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    line-height: 1.8;
    margin-top: 18px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.experience-list ul li span {
    display: block;
    color: #212529;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

.shape-image img:nth-child(1) {
    right: 75px;
    bottom: 30px;
}

.shape-image img {
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.shape-image img:nth-child(2) {
    left: 65px;
    top: 30%;
}

.shape-image img:nth-child(3) {
    left: 85px;
    bottom: 55px;
    z-index: 1;
}

.banner-img .shape-image img:nth-child(4) {
    left: 85px;
    top: 40px;
}

.shape-image img:nth-child(5) {
    left: -20px;
    bottom: -35px;
}

.shape-image img:nth-child(6) {
    right: 16%;
    top: 27%;
}

.shape-image img:nth-child(7) {
    right: 43%;
    bottom: 45px;
}

.shape-image img:nth-child(8) {
    top: 42px;
    right: 65px;
}

.banner-img:hover .shape-image img:nth-child(1) {
    -webkit-animation-name: rotateMe;
            animation-name: rotateMe;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.banner-img:hover .shape-image img:nth-child(2) {
    -webkit-animation: rotate3d 4s linear infinite;
            animation: rotate3d 4s linear infinite;
}
  
.banner-img:hover .shape-image img:nth-child(3) {
    -webkit-animation: moveBounce 5s linear infinite;
            animation: moveBounce 5s linear infinite;
}

.banner-img:hover .shape-image img:nth-child(4) {
    -webkit-animation: moveBounce 5s linear infinite;
            animation: moveBounce 5s linear infinite;
}
  
.banner-img:hover .shape-image img:nth-child(6) {
    -webkit-animation-name: rotateMe;
            animation-name: rotateMe;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
  
.banner-img:hover .shape-image img:nth-child(7) {
    -webkit-animation-name: rotateMe;
            animation-name: rotateMe;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
  
.banner-img:hover .shape-image img:nth-child(8) {
    -webkit-animation: rotate3d 4s linear infinite;
            animation: rotate3d 4s linear infinite;
}
  
.css-bezwbk {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: unset;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.home_video{
    width: 100%;
    -webkit-box-shadow: 0px 2px 18px -4px rgba(107,103,107,0.43);
    -moz-box-shadow: 0px 2px 18px -4px rgba(107,103,107,0.43);
    box-shadow: 0px 2px 18px -4px rgba(107,103,107,0.43);
}

@-webkit-keyframes rotateMe {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
  
@keyframes rotateMe {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
  
@-webkit-keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}
  
@keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}

@-webkit-keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
}
  
@keyframes rotate3d {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
}
  
